<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>進階管理設置</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/admin/assets/website/js/twzipcode.js"></script>

    <script src="/admin/assets/dist/js/all.js"></script>

    <link rel="stylesheet" href="/admin/assets/dist/css/all.css">
</head>
<body>
    <div class="wrapper">
        <header class="main-header">
            <a class="logo" href="/admin">
                <div class="logo-mini">
                    <img src="/admin/assets/dist/favicon.svg" alt="Hi">
                </div>
                <div class="logo-lg">
                    <img src="/admin/assets/dist/logo.svg" alt="HiLives">
                </div>
            </a>
            <nav class="navbar">
                <div id="headernav">
                    <div class="navbar-menu">
                        <ul class="navbar-nav">
                            <li>
                                <a href="https://hilives.net/" target="_blank">
                                    <i class="bi bi-briefcase"></i>
                                    <span>宣傳網站</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/activity?header=true">
                                    <i class="bi bi-balloon"></i>
                                    <span>活動管理平台</span>
                                </a>
                            </li>
                            <li class="dropdown user user-menu">
                                <a class="dropdown-toggle" href="#">
                                    <div class="avatar-box">
                                        <img src="{{.User.Avatar}}" alt="User Image">
                                    </div>
                                    <span>{{.User.Name}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <div class="avatar-box">
                                            <img src="{{.User.Avatar}}" alt="User Image">
                                        </div>
                                        <p>
                                            {{.User.Name}}
                                            <small>開發人員</small>
                                        </p>
                                    </li>
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a class="btn-flat" href="">設定</a>
                                        </div>
                                        <div class="pull-right">
                                            <a class="btn-flat" href="{{.Route.Logout}}">登出</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="not-open">
                        <a href="/admin/dashboard">
                            <i class="bi bi-bar-chart-line-fill"></i>
                            <span> Hilives數據表</span>
                            <span class="pull-right-container"></span>
                        </a>
                    </li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="bi bi-gear-fill"></i>
                            <span> 用戶權限管理</span>
                            <span class="pull-right-container">
                                <i class="bi bi-chevron-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open">
                            <li class="active">
                                <a href="/admin/manager">
                                    <i class="bi bi-people-fill"></i>
                                    用戶管理
                                </a>
                            </li>
                            <li>
                                <a href="/admin/permission">
                                    <i class="bi bi-shield-lock-fill"></i>
                                    權限管理
                                </a>
                            </li>
                            <li>
                                <a href="/admin/menu">
                                    <i class="bi bi-menu-button-wide-fill"></i>
                                    側邊選單管理
                                </a>
                            </li>
                            <li>
                                <a href="/admin/overview">
                                    <i class="bi bi-layout-wtf"></i>
                                    活動總覽管理
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/log">
                            <i class="bi bi-clipboard2-data-fill"></i>
                            <span> Log日誌紀錄</span>
                            <span class="pull-right-container"></span>
                        </a>
                    </li>
                    <li class="not-open">
                        <a href="/admin/file">
                            <i class="bi bi-file-earmark-medical-fill"></i>
                            <span> 檔案管理</span>
                            <span class="pull-right-container"></span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <div>
                    <ol class="breadcrumb">
                        <li>首頁</li>
                        <li>用戶權限管理</li>
                        <li>HiLives用戶</li>
                        <li>用戶活動表單</li>
                    </ol>
                </div>
                <h4>
                    用戶活動管理
                    <small>用戶活動管理</small>
                </h4>
            </section>
            <section class="content">
                <div class="main-container-content">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">新增活動</h3>
                            <div class="btn-group pull-right">
                                <a class="back-manager" href="{{.Route.Back}}">返回</a>
                            </div>
                        </div>
                        <form class="box-body p-3">
                            <div class="box-body p-3">
                                <div class="box-body p-3">
                                    <div class="fields-group d-flex flex-column gap-3">
                                        <div class="form-group">
                                            <label class="form-label" for="">活動名稱</label>
                                            <input class="form-control" type="text" name="activity_name">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="">活動類型</label>
                                            <select class="form-select" name="activity_type">
                                                <option selected>請選擇活動類型</option>
                                                <option value="企業會議">企業會議</option>
                                                <option value="其他">其他</option>
                                                <option value="商業活動">商業活動</option>
                                                <option value="培訓/教育">培訓/教育</option>
                                                <option value="婚禮">婚禮</option>
                                                <option value="年會">年會</option>
                                                <option value="校園活動">校園活動</option>
                                                <option value="競技賽事">競技賽事</option>
                                                <option value="論壇會議">論壇會議</option>
                                                <option value="酒吧/餐飲娛樂">酒吧/餐飲娛樂</option>
                                                <option value="電視/媒體">電視/媒體</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex flex-row justify-content-between gap-2">
                                                <div class="w-100">
                                                    <label class="form-label" for="">該場次活動人數上限</label>
                                                    <input class="form-control" type="number" name="people">
                                                </div>
                                                <div class="w-100">
                                                    <label class="form-label" for="">用戶的活動人數上限</label>
                                                    <input class="form-control" type="number" name="max_people">
                                                </div>
                                            </div>
                                            <p class="help-message">該場次活動人數上限 <strong>不能大於</strong> 用戶的活動人數上限</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="">活動舉辦縣市及區域</label>
                                            <div id="citytown-box">
                                                <div data-role="county" data-css="form-select mb-2" data-name="city" data-label="請選擇縣市"></div>
                                                <div data-role="district" data-css="form-select" data-name="town" data-label="請選擇鄉鎮市區"></div>
                                            </div>
                                            <script>
                                                
                                            </script>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="">活動開始時間</label>
                                            <input type="datetime-local" name="start_time" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="">活動結束時間</label>
                                            <input type="datetime-local" name="end_time" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="">是否開啟自定義密碼登入</label>
                                            <div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="login_required" id="login-required-open" value="open">
                                                    <label class="form-check-label" for="login-required-open">關閉</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="login_required" id="login-required-close" value="close" checked>
                                                    <label class="form-check-label" for="login-required-close">開啟</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">自定義密碼設置</label>
                                            <p>此功能只對已開啟的連結登入功能有效，請輸入您的自訂義密碼，上限8個字。如選擇關閉密碼設置欄位，需自行承擔安全性的風險</p>
                                            <div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="password_required" id="password_required_open" value="open" checked>
                                                    <label class="form-check-label" for="password_required_open">開啟</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="password_required" id="password_required_close" value="close">
                                                    <label class="form-check-label" for="password_required_close">關閉</label>
                                                </div>
                                            </div>
                                            <input class="form-control" type="text" name="login_password" value="password">
                                        </div>
                                        <!--div class="form-group" style="display: none;">
                                            <label class="form-label" for="">登入密碼</label>
                                            <input class="form-control" type="text" name="login_password">
                                        </div-->
                                        <div class="form-group">
                                            <label class="form-label" for="">用戶權限</label>
                                            <ul id="permission-input-box" class="select-choice-box" style="display: none;"></ul>
                                            <select class="form-select select-choice-input" name="permissions">
                                                <option selected>請選擇用戶權限</option>
                                            </select>
                                        </div>

                                        <h4 class="box-title mt-5 mb-0">商用綁定相關</h4>
                                        <p class="mb-0" style="padding: 0.5rem 0.688rem; color: #06374E; border-left: 5px solid #20A39E; background-color: #D2FAEA;">提醒: 這部分可以為空，如果需要綁定的話，每個欄位皆需填寫。</p>
                                        <div class="form-group">
                                            <label class="form-label" for="">line_id</label>
                                            <input class="form-control line-input" type="text" name="line_id">
                                            <div class="form-text">請提供LINE LOGIN中Linked OA的ID資訊或是LINE官方號的專屬ID，值必須包含@</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="">channel_id</label>
                                            <input class="form-control line-input" type="text" name="channel_id">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="">channel_secret</label>
                                            <input class="form-control line-input" type="text" name="channel_secret">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="">chatbot_secret</label>
                                            <input class="form-control line-input" type="text" name="chatbot_secret">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="">chatbot_token</label>
                                            <input class="form-control line-input" type="text" name="chatbot_token">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="">官方帳號傳送報名簽到審核訊息</label>
                                            <div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="push_message" id="push-message-open" value="open">
                                                    <label class="form-check-label" for="push-message-open">開啟</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="push_message" id="push-message-close" value="close" checked>
                                                    <label class="form-check-label" for="push-message-close">關閉</label>
                                                </div>
                                            </div>
                                        </div>
                                        <p style="padding: 0.5rem 0.688rem; color: #0C1453; border-left: 5px solid #4357AD; background-color: #DCE4FA;">
                                            提醒: 需提供LINE官方帳號相關資訊並在官方帳號頁面中設置callback url、webhook url才能正確執行報名簽到流程。
                                            <br>
                                            <span class="callback-url">callback URL: <strong></strong></span>
                                            <br>
                                            <span class="webhook-url">webhook URL: <strong></strong></span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button id="save-data-form" classs="btn-group pull-right" type="button">儲存</button>
                                <button classs="btn-group pull-left" type="reset">重置</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
<script>

    var twzipcode = new TWzipcode("#citytown-box")

    $(".user-id").text($(".user-id").text() +"{{.User.UserID}}")

    let formMethod = "{{.Route.Method}}"
    let permissionData = "https://"+ getAPIDomainFromURL() +"/v1/admin/permission"
    

    fetch(permissionData).then(function(res){
        return res.json()
    }).then(function(res){
        $(res.data).each(function(i){
            if(res.data[i].permission !== "管理員權限"){
                renderSelectOptionData(res.data[i].id, res.data[i].permission, $("select[name=permissions]"))
            }
        })
        selectChoiceInputFuction($("#permission-input-box"))
        if(formMethod === "put"){
            let partyData = "https://"+ getAPIDomainFromURL() +"/v1/activity?activity_id="+ getKeyFromURL("activity_id")
            fetch(partyData).then(function(res){
                return res.json()
            }).then(function(res){
                $("h3.box-title").text("編輯活動")
                $("input[name=people] + p").find("strong").text(res.data.max_people)
                $("[name='login_password']").parents(".form-group").css("display", "block")
                renderPartyEditData(res.data)
                $(res.data.Permissions).each(function(i){
                    let data = res.data.Permissions
                    if(data[i].permission !== ""){
                        renderSelectChoiceData(data[i].id, data[i].permission, $("#permission-input-box"))
                    }
                })
                saveEditData(res.data)
            })
        }else if(formMethod === "post"){
            $("h3.box-title").text("新增活動")
            saveNewData()
        }
    })

    function renderSelectOptionData(id, text, selector){
        const template = `<option></option>`
        const container = $(template)
        container.val(id).text(text)
        selector.append(container)
    }

    function renderPartyEditData(data){
        console.log(data)
        $("[name='activity_name']").val(data.activity_name)
        $("[name='activity_type']").val(data.activity_type)
        $("[name='people']").val(data.people)
        $("[name='max_people']").val(data.max_people)
        $("[name='city']").find("option").eq(0).prop("selected", true)
        $("[name='city']").find("option[value='"+ data.city +"']").prop("selected", true)
        $("[name='city']").get(0).dispatchEvent(new Event('change'))
        $("[name='town']").val(data.town)
        $("[name='start_time']").val(data.start_time)
        $("[name='end_time']").val(data.end_time)
        $("[name='login_required'][value='"+ data.login_required +"']").prop("checked", true)
        $("[name='password_required'][value='"+ data.password_required +"']").prop("checked", true)
        $("[name='login_password']").val(data.login_password)

        $("[name='line_id']").val(data.activity_line_id)
        $("[name='channel_id']").val(data.activity_channel_id)
        $("[name='channel_secret']").val(data.activity_channel_secret)
        $("[name='chatbot_secret']").val(data.activity_chatbot_secret)
        $("[name='chatbot_token']").val(data.activity_chatbot_token)
        $("[name='push_message'][value='"+ data.push_message +"']").prop("checked", true)
    }

    function selectChoiceInputFuction(selector){
        $(".select-choice-input").bind("change", function(){
            let thisChoice = $(this).find("option:selected")
            let buttonName = true

            $(selector.find("li")).each(function(i){
                let currentValue = selector.find("li").eq(i).data("id")
                if(Number(thisChoice.val()) === Number(currentValue)){
                    buttonName = false
                }
            }).promise().done(() => {
                if(buttonName){
                    renderSelectChoiceData(thisChoice.val(), thisChoice.text(), selector)
                }
                $(".select-choice-input").find("option").eq(0).prop("selected", true)
            })
        })
    }

    function renderSelectChoiceData(id, text, selector){
        const template = `
            <li class="select-choice">
                <span class="select-choice-remove">×</span>
                <span class="name"></span>
            </li>
        `
        
        const container = $(template)
        container.attr("data-id", id)
        container.find(".name").text(text)
        selector.append(container)
        
        removeSelectChoiceLabel(selector)
        displaySelectChoiceBox(selector)
    }

    function removeSelectChoiceLabel(selector){
        $(".select-choice-remove").bind("click", function(){
            $(this).parents(".select-choice").remove()
            displaySelectChoiceBox(selector)
        })
    }

    function displaySelectChoiceBox(selector){
        if(selector.find("li").length === 0){
            selector.css("display", "none")
        }else{
            selector.css("display", "flex")
        }
    }

    function saveNewData(){
        $("#save-data-form").bind("click", function(){
            let permissionsArray = []
            $("#permission-input-box").find("li").each(function(){
                permissionsArray.push($(this).data("id"))
            })
            let permissions = permissionsArray.join()

            let formDataBox = new FormData()
            formDataBox.append("activity_name", $("[name='activity_name']").val())
            formDataBox.append("activity_type", $("[name='activity_type']").val())
            formDataBox.append("people", Number($("input[name=people]").val()))
            formDataBox.append("max_people", Number($("input[name=max_people]").val()))
            formDataBox.append("city", $("[name='city']").val())
            formDataBox.append("town", $("[name='town']").val())
            formDataBox.append("start_time", $("[name='start_time']").val())
            formDataBox.append("end_time", $("[name='end_time']").val())
            formDataBox.append("login_required", $("[name='login_required']:checked").val())
            formDataBox.append("password_required", $("[name='password_required']:checked").val())
            formDataBox.append("login_password", $("[name='login_password']").val())

            formDataBox.append("permissions", permissions)
            formDataBox.append("user", getKeyFromURL("user_id"))
            formDataBox.append("user_id", "{{.User.UserID}}")
            formDataBox.append("token", "{{.Token}}")

            const line_id = $("[name=line_id]").val()
            const channel_id = $("[name=channel_id]").val()
            const channel_secret = $("[name=channel_secret]").val()
            const chatbot_secret = $("[name=chatbot_secret]").val()
            const chatbot_token = $("[name=chatbot_token]").val()

            if(isEmpty(line_id) || isEmpty(channel_id) || isEmpty(channel_secret) || isEmpty(chatbot_secret) || isEmpty(chatbot_token)){
                if(isEmpty(line_id) && isEmpty(channel_id) && isEmpty(channel_secret) && isEmpty(chatbot_secret) && isEmpty(chatbot_token)){
                    if(line_id.indexOf("@") !== -1){
                        formDataBox.append("line_id", $("[name=line_id]").val())
                        formDataBox.append("channel_id", $("[name=channel_id]").val())
                        formDataBox.append("channel_secret", $("[name=channel_secret]").val())
                        formDataBox.append("chatbot_secret", $("[name=chatbot_secret]").val())
                        formDataBox.append("chatbot_token", $("[name=chatbot_token]").val())
                    }else{
                        Swal.fire({
                            icon: "error",
                            title: "line_id須包含@"
                        })
                        return
                    }
                }else{
                    Swal.fire({
                        icon: "error",
                        title: "您必須完整填寫所有的綁定表單內容"
                    })
                    return
                }
            }

            formDataBox.append("push_message", $("[name='push_message']:checked").val())

            let settings = {
                "url": "{{.Route.POST}}",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": formDataBox,
                "dataType": "json",
                "success": function(data){
                    Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 2000
                    }).fire({
                        icon: "success",
                        title: "已新增活動"
                    }).then(() => {
                        location.replace("{{.Route.Back}}")
                    })
                },
                "error": function(result){
                    Swal.fire({
                        icon: result.statusText,
                        title: result.responseJSON.message
                    })
                    return
                }
            }

            let maxPeople = Number($("input[name=max_people]").val())
            let currentPeople = Number($("input[name=people]").val())
            if(currentPeople > maxPeople){
                Swal.fire({
                    icon: "error",
                    title: "目前的最大參與人數為 "+ maxPeople +" 人"
                })
            }else{
                $.ajax(settings).done(function(){})
            }
            
        })
    }

    checkMaxPeople()
    function checkMaxPeople(){
        $("input[name=people]").unbind("input").bind("input", function(){
            let maxPeople = Number($("input[name=max_people]").val())
            let currentPeople = Number($("input[name=people]").val())
            if(maxPeople != 0){
                if(currentPeople > maxPeople){
                    $("input[name=people]").removeClass("is-valid").addClass("is-invalid")
                    $("input[name=max_people]").removeClass("is-valid").addClass("is-invalid")
                }else{
                    $("input[name=people]").removeClass("is-invalid").addClass("is-valid")
                    $("input[name=max_people]").removeClass("is-invalid").addClass("is-valid")
                }
            }
        })

        $("input[name=max_people]").unbind("input").bind("input", function(){
            let maxPeople = Number($("input[name=max_people]").val())
            let currentPeople = Number($("input[name=people]").val())
            if(currentPeople > maxPeople){
                $("input[name=people]").removeClass("is-valid").addClass("is-invalid")
                $("input[name=max_people]").removeClass("is-valid").addClass("is-invalid")
            }else{
                $("input[name=people]").removeClass("is-invalid").addClass("is-valid")
                $("input[name=max_people]").removeClass("is-invalid").addClass("is-valid")
            }
        })
    }

    function saveEditData(data){
        let peopleValue = $("[name='people']").val()

        $("#save-data-form").bind("click", function(){
            let permissionsArray = []
            $("#permission-input-box").find("li").each(function(){
                permissionsArray.push($(this).data("id"))
            })
            let permissions = permissionsArray.join()

            let formDataBox = new FormData()
            formDataBox.append("activity_name", $("[name='activity_name']").val())
            formDataBox.append("activity_type", $("[name='activity_type']").val())

            if(peopleValue !== $("[name='people']").val()){
                formDataBox.append("people", Number($("input[name=people]").val()))
            }

            formDataBox.append("max_people", Number($("input[name=max_people]").val()))
            formDataBox.append("city", $("[name='city']").val())
            formDataBox.append("town", $("[name='town']").val())
            formDataBox.append("start_time", $("[name='start_time']").val())
            formDataBox.append("end_time", $("[name='end_time']").val())
            formDataBox.append("login_required", $("[name='login_required']:checked").val())
            formDataBox.append("password_required", $("[name='password_required']:checked").val())
            formDataBox.append("login_password", $("[name='login_password']").val())

            formDataBox.append("permissions", permissions)
            formDataBox.append("activity_id", getKeyFromURL("activity_id"))
            formDataBox.append("user", data.user_id)
            formDataBox.append("user_id", "{{.User.UserID}}")
            formDataBox.append("token", "{{.Token}}")

            const line_id = $("[name=line_id]").val()
            const channel_id = $("[name=channel_id]").val()
            const channel_secret = $("[name=channel_secret]").val()
            const chatbot_secret = $("[name=chatbot_secret]").val()
            const chatbot_token = $("[name=chatbot_token]").val()

            if(isEmpty(line_id) || isEmpty(channel_id) || isEmpty(channel_secret) || isEmpty(chatbot_secret) || isEmpty(chatbot_token)){
                if(isEmpty(line_id) && isEmpty(channel_id) && isEmpty(channel_secret) && isEmpty(chatbot_secret) && isEmpty(chatbot_token)){
                    if(line_id.indexOf("@") !== -1){
                        formDataBox.append("line_id", $("[name=line_id]").val())
                        formDataBox.append("channel_id", $("[name=channel_id]").val())
                        formDataBox.append("channel_secret", $("[name=channel_secret]").val())
                        formDataBox.append("chatbot_secret", $("[name=chatbot_secret]").val())
                        formDataBox.append("chatbot_token", $("[name=chatbot_token]").val())
                    }else{
                        Swal.fire({
                            icon: "error",
                            title: "line_id須包含@"
                        })
                        return
                    }
                }else{
                    Swal.fire({
                        icon: "error",
                        title: "您必須完整填寫所有的綁定表單內容"
                    })
                    return
                }
            }

            formDataBox.append("push_message", $("[name='push_message']:checked").val())

            let settings = {
                "url": "{{.Route.PUT}}",
                "method": "PUT",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": formDataBox,
                "dataType": "json",
                "success": function(){
                    Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 2000
                    }).fire({
                        icon: "success",
                        title: "已編輯活動"
                    }).then(() => {
                        location.replace("{{.Route.Back}}") //+ data.user_id
                    })
                },
                "error": function(result){
                    Swal.fire({
                        icon: result.statusText,
                        title: result.responseJSON.message
                    })
                    return
                }
            }

            let maxPeople = Number($("input[name=max_people]").val())
            let currentPeople = Number($("input[name=people]").val())
            if(currentPeople > maxPeople){
                Swal.fire({
                    icon: "error",
                    title: "目前的最大參與人數為 "+ maxPeople +" 人"
                })
            }else{
                $.ajax(settings).done(function(){})
            }

        })
    }

    function isEmpty(str){
        if(!str){ return 0 }
        else{ return str.trim().length }
    }

    showTipUrl()
    function showTipUrl(){
        $(".callback-url").find("strong").text("https://"+ getAPIDomainFromURL() +"/v1/auth/line/callback")
        if("{{.Route.Method}}" === "put"){
            $(".webhook-url").find("strong").text("https://"+ getAPIDomainFromURL() +"/v1/message/line/callback?activity_id="+ getKeyFromURL("activity_id"))
        }else{
            $(".webhook-url").find("strong").text("https://"+ getAPIDomainFromURL() +"/v1/message/line/callback?activity_id=活動ID")
        }
    }

</script>
<script>
    // delete
    // let managerData = "https://"+ getAPIDomainFromURL() +"/v1/admin/manager?user_id={{.User.UserID}}"

    // function maxPeopleData(){
    //     fetch(managerData).then(function(res){
    //         return res.json()
    //     }).then(function(res){
    //         $("input[name=people]").attr("max", res.data.max_activity_people)
    //         $("input[name=people] + p").find("strong").text(res.data.max_activity_people)
    //         let maxPeople = Number($("input[name=people] + p").find("strong").text())
    //         let currentPeople = Number($("input[name=people]").val())
    //         if(currentPeople > maxPeople){
    //             $("input[name=people]").val(maxPeople)
    //         }
    //     })
    // }

    // $(".back-manager").attr("href", "{{.Route.Back}}"+ res.data.user_id)
</script>
</html>