<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>進階管理設置</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/admin/assets/dist/js/all.js"></script>

    <link rel="stylesheet" href="/admin/assets/dist/css/all.css">
</head>
<body>
    <div class="wrapper">
        <header class="main-header">
            <a class="logo" href="/admin">
                <div class="logo-mini">
                    <img src="/admin/assets/dist/favicon.svg" alt="Hi">
                </div>
                <div class="logo-lg">
                    <img src="/admin/assets/dist/logo.svg" alt="HiLives">
                </div>
            </a>
            <nav class="navbar">
                <div id="headernav">
                    <div class="navbar-menu">
                        <ul class="navbar-nav">
                            <li>
                                <a href="https://hilives.net/" target="_blank">
                                    <i class="bi bi-briefcase"></i>
                                    <span>宣傳網站</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/activity?header=true">
                                    <i class="bi bi-balloon"></i>
                                    <span>活動管理平台</span>
                                </a>
                            </li>
                            <li class="dropdown user user-menu">
                                <a class="dropdown-toggle" href="#">
                                    <div class="avatar-box">
                                        <img src="{{.User.Avatar}}" alt="User Image">
                                    </div>
                                    <span>{{.User.Name}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <div class="avatar-box">
                                            <img src="{{.User.Avatar}}" alt="User Image">
                                        </div>
                                        <p>
                                            {{.User.Name}}
                                            <small>開發人員</small>
                                        </p>
                                    </li>
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a class="btn-flat" href="">設定</a>
                                        </div>
                                        <div class="pull-right">
                                            <a class="btn-flat" href="{{.Route.Logout}}">登出</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="not-open">
                        <a href="/admin/dashboard">
                            <i class="bi bi-bar-chart-line-fill"></i>
                            <span> Hilives數據表</span>
                            <span class="pull-right-container"></span>
                        </a>
                    </li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="bi bi-gear-fill"></i>
                            <span> 用戶權限管理</span>
                            <span class="pull-right-container">
                                <i class="bi bi-chevron-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open">
                            <li class="active">
                                <a href="/admin/manager">
                                    <i class="bi bi-people-fill"></i>
                                    用戶管理
                                </a>
                            </li>
                            <li>
                                <a href="/admin/permission">
                                    <i class="bi bi-shield-lock-fill"></i>
                                    權限管理
                                </a>
                            </li>
                            <li>
                                <a href="/admin/menu">
                                    <i class="bi bi-menu-button-wide-fill"></i>
                                    側邊選單管理
                                </a>
                            </li>
                            <li>
                                <a href="/admin/overview">
                                    <i class="bi bi-layout-wtf"></i>
                                    活動總覽管理
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/log">
                            <i class="bi bi-clipboard2-data-fill"></i>
                            <span> Log日誌紀錄</span>
                            <span class="pull-right-container"></span>
                        </a>
                    </li>
                    <li class="not-open">
                        <a href="/admin/file">
                            <i class="bi bi-file-earmark-medical-fill"></i>
                            <span> 檔案管理</span>
                            <span class="pull-right-container"></span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <div>
                    <ol class="breadcrumb">
                        <li>首頁</li>
                        <li>Log日誌紀錄</li>
                    </ol>
                </div>
                <h4>
                    Log日誌紀錄
                    <small>Log日誌紀錄</small>
                </h4>
            </section>
            <section class="content">
                <div class="main-container-content">
                    <div class="box">
                        <div class="box-header">
                            <div class="btn-group">
                                <a class="btn btn-primary btn-sm" href="/admin/log">返回Log日誌</a>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>用戶名稱</th>
                                        <th>使用路徑</th>
                                        <th>錯誤訊息</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
<script>

    fetch("https://"+ getAPIDomainFromURL() +"/v1/admin/error_log?user_id=" + getKeyFromURL("user_id")).then(function(res){
        return res.json()
    }).then(function(res){
        console.log(res.data)
        loadData(res.data)
    })

    function loadData(data){
        const template = `
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        `
        $(data).each(function(i){
            const container = $(template)
            container.attr("data-id", data[i].id)
            container.find("td").eq(0).text(data[i].user_id)
            container.find("td").eq(1).text(data[i].path)
            container.find("td").eq(2).text(data[i].message)
            $(".table").find("tbody").append(container)
        })
    }

</script>
</html>