<div class="options-skin">
    <h1 class="container-title">搖號抽獎 - 場次設置</h1>
    <details class="container-box" open>
        <summary class="toggle-title">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <h2>遊戲規則設置</h2>
        </summary>
        <div class="main-content">
            <div class="d-flex flex-wrap gap-3">
                <div class="form-group">
                    <label class="form-label" for="scene-name">場次名稱</label>
                    <input id="scene-name" class="form-control string" name="title" type="text" maxlength="20" placeholder="名稱最多為20個字元">
                </div>
                <div class="form-group">
                    <label class="form-label">公布中獎名單倒數功能</label>
                    <p>如選擇開啟此功能，請輸入倒數秒數，至少5秒。</p>
                    <div class="radio-button-box">
                        <div class="radio-button">
                            <input type="radio" id="limit_time_open" name="limit_time" value="open" checked>
                            <label for="limit_time_open">開啟</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="limit_time_close" name="limit_time" value="close">
                            <label for="limit_time_close">關閉</label>
                        </div>
                    </div>
                    <div class="input-group string">
                        <input id="second" class="form-control" name="second" type="number" value="30" maxlength="3" min="5" max="300" placeholder="最多為300秒(5分鐘)">
                        <span class="input-group-text">秒</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">重複中獎</label>
                    <p>如選擇允許，表示參加者可以在這個場次一直獲得獎品。</p>
                    <div class="radio-button-box">
                        <div class="radio-button">
                            <input type="radio" id="allow_open" name="allow" value="open" checked>
                            <label for="allow_open">允許</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="allow_close" name="allow" value="close">
                            <label for="allow_close">拒絕</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">中獎人員姓名頭像</label>
                    <p>如選擇允許，表示參加者可以在這個場次一直獲得獎品。</p>
                    <div class="radio-button-box">
                        <div class="radio-button">
                            <input type="radio" id="true-identity-open" class="radio-button" name="display_name" value="open" checked>
                            <label for="true-identity-open">顯示</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="true-identity-close" class="radio-button" name="display_name" value="close">
                            <label for="true-identity-close">隱藏</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </details>
    <div class="footer">
        <button id="save-game-data" class="btn btn-blue" data-name="saveGameData">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
            </svg>
            <p>儲存設置</p>
        </button>
        <a class="btn btn-gray" href="#draw_numbers">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <p>返回</p>
        </a>
    </div>
</div>

<var class="variable d-none">
    <var class="gameID">{{.GameID}}</var>
    <var class="userID">{{.User.UserID}}</var>
    <var class="token">{{.Token}}</var>
    <var class="method">{{.Route.Method}}</var>
    <var class="route-post">{{.Route.POST}}</var>
    <var class="route-put">{{.Route.PUT}}</var>
</var>