<div class="options-skin">
    <h1 class="container-title">遊戲紀錄列表</h1>
    <section class="container-box">
        <div class="search-content flex-column flex-lg-row">
            <div class="filter-input">
                <label class="form-label" for="game-type">遊戲類型</label>
                <select name="game_type" id="game-type" class="form-select">
                    <option value="all">所有遊戲</option>
                    <option value="whack_mole">敲敲樂</option>
                    <option value="monopoly">鑑定師</option>
                    <option value="QA">快問快答</option>
                    <option value="tugofwar">拔河遊戲</option>
                    <option value="bingo">賓果遊戲</option>
                </select>
            </div>
            <div class="filter-input">
                <label class="form-label" for="game-scene">遊戲場次</label>
                <select name="game_scene" id="game-scene" class="form-select">
                    <option value="all">全部</option>
                </select>
            </div>
            <div class="filter-input">
                <label class="form-label" for="game-round">遊戲輪次</label>
                <select name="game_round" id="game-round" class="form-select">
                    <option value="all">全部</option>
                </select>
            </div>
        </div>
    </section>
    <section class="container-box">
        <div class="main-content m-0 border-0">

            <div class="toolbox">
                <div class="d-flex flex-row flex-wrap align-items-center gap-2"></div>
                <div class="d-flex flex-row flex-wrap align-items-center gap-2">
                    <button class="btn btn-noborder" data-name="download-data">
                        <i class="bi bi-upload"></i>
                        <p>資料匯出</p>
                    </button>
                </div>
            </div>
            <div class="data-view">
                <div class="table" style="max-height: 37.5rem;" data-type="all">
                    <div class="thead">
                        <div class="tr">
                            <div class="th index-th"><p>筆數</p></div>
                            <div class="th title-th full"><p>參加人員</p>
                                <i class="bi bi-arrow-down d-none"></i>
                                <i class="bi bi-arrow-up d-none"></i>
                            </div>
                            <div class="th type-th"><p>遊戲輪次</p></div>
                            <div class="th number-th full"><p>該輪次分數</p></div>
                            <div class="th type-th"><p>遊戲類型</p></div>
                            <div class="th text-th full"><p>場次名稱</p></div>
                        </div>
                    </div>
                    <div class="tbody"></div>
                </div>
            </div>
            <div class="data-count"><p>總共有 <strong>0</strong> 筆資料</p></div>
            <div class="page-box for-desktop">
                <button class="btn btn-prev-page disabled" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </button>
                <div class="page-number-box d-flex flex-row align-items-end gap-1"></div>
                <button class="btn btn-next-page" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </div>
            <div class="page-box for-phone">
                <p>目前頁數</p>
                <input class="form-control" type="number" min="1" max="1" value="1">
                <span>/</span>
                <p>總共<strong>1</strong>頁</p>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="userDataModal" tabindex="-1" aria-labelledby="userDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userDataModalLabel">詳細資料</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="fs-5 fw-bold title">該輪次分數</div>
                        <div class="fs-6 content text-black-50" data-name="score">無填寫</div>
                    </li>
                    <li class="list-group-item">
                        <div class="fs-5 fw-bold title">遊戲類型</div>
                        <div class="fs-6 content text-black-50" data-name="gameType">無填寫</div>
                    </li>
                    <li class="list-group-item">
                        <div class="fs-5 fw-bold title">場次名稱</div>
                        <div class="fs-6 content text-black-50" data-name="gameScene">無填寫</div>
                    </li>
                    <li class="list-group-item">
                        <div class="fs-5 fw-bold title">遊戲輪次</div>
                        <div class="fs-6 content text-black-50" data-name="gameRound">無填寫</div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<template id="tr">
    <div class="tr" data-bs-toggle="modal" data-bs-target="#userDataModal">
        <div class="td index-td" data-name="index"></div>
        <div class="td title-td full">
            <div class="group">
                <div class="sm-square-image">
                    <img src="/admin/uploads/system/img-user-pic.png" data-name="avatar">
                </div>
                <p data-name="name"></p>
            </div>
        </div>
        <div class="td type-td" data-name="gameRound"></div>
        <div class="td number-td full" data-name="score"></div>
        <div class="td type-td" data-name="gameType"></div>
        <div class="td text-td full" data-name="gameName"></div>
    </div>
</template>

<var class="variable d-none">
    <var class="userID">{{.User.UserID}}</var>
    <var class="token">{{.Token}}</var>
    <var class="route-export">{{.Route.Export}}</var>
</var>