<div class="options-skin" data-name="tugofwar">
    <h1 class="container-title">拔河遊戲 - 場次設置</h1>
    <details class="container-box" open>
        <summary class="toggle-title">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <h2>遊戲規則設置</h2>
        </summary>
        <div class="main-content">

            <div class="d-flex flex-wrap gap-3">

                <div class="form-group">
                    <label class="form-label" for="title">場次名稱</label>
                    <p>最多為20個字元</p>
                    <input id="title" class="form-control" name="title" type="text" value="來場拔河比賽吧!" maxlength="20">
                </div>
                <div class="form-group">
                    <label class="form-label">限制遊戲時間</label>
                    <p>如選擇開啟限制時間，請輸入遊戲時間秒數，至少為5秒。</p>
                    <div class="radio-button-box">
                        <div class="radio-button">
                            <input type="radio" id="limit_time_open" name="limit_time" value="open" checked>
                            <label for="limit_time_open">開啟</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="limit_time_close" name="limit_time" value="close">
                            <label for="limit_time_close">關閉</label>
                        </div>
                    </div>
                    <div class="input-group string">
                        <input id="second" class="form-control" name="second" type="number" value="30" maxlength="10" min="6" max="9999999999">
                        <span class="input-group-text">秒</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="people">每隊人數上限</label>
                    <p>遊戲將會分為兩個隊伍，這項欄位需填入每個隊伍的人數。</p>
                    <p>您的人數限制最多為 <strong>{{.People}}</strong> 人</p>
                    <div class="input-group string">
                        <input id="people" class="form-control" name="people" type="number" value="10" maxlength="5" min="0" max="{{.People}}">
                        <span class="input-group-text">人</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">重複中獎</label>
                    <p>如選擇允許，表示參加者可以在這個場次一直獲得獎品。</p>
                    <div class="radio-button-box">
                        <div class="radio-button">
                            <input type="radio" id="allow_open" name="allow" value="open" checked>
                            <label for="allow_open">允許</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="allow_close" name="allow" value="close">
                            <label for="allow_close">拒絕</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">由玩家選擇隊伍</label>
                    <p>如選擇關閉，系統將會為每位參加者隨機分配隊伍。</p>
                    <div class="radio-button-box">
                        <div class="radio-button">
                            <input type="radio" id="allow_choose_team_open" name="allow_choose_team" value="open" checked>
                            <label for="allow_choose_team_open">開啟</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="allow_choose_team_close" name="allow_choose_team" value="close">
                            <label for="allow_choose_team_close">關閉</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">獎品發放方式</label>
                    <p>統一發放 - 先由獲勝的隊伍隊長收下，隊長再分配給隊員。</p>
                    <p>全部發放 - 同時頒發獎品給獲勝隊伍的每位隊員。</p>
                    <div class="radio-button-box">
                        <div class="radio-button">
                            <input type="radio" id="prize_uniform" name="prize" value="uniform" checked>
                            <label for="prize_uniform">統一發放</label>
                        </div>
                        <div class="radio-button">
                            <input type="radio" id="prize_all" name="prize" value="all">
                            <label for="prize_all">全部發放</label>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </details>
    <details class="container-box" open>
        <summary class="toggle-title">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <h2>隊伍設置</h2>
        </summary>
        <div class="main-content">

            <div class="form-group">
                <label class="form-label">隊伍設置</label>
                <p>隊伍名稱最多為<strong>7個字元</strong>，且兩隊名稱不能一樣。</p>
                <p>隊伍象徵圖片建議為長寬一樣的正方形，長寬尺寸最大限制為 <strong>500px / 500px</strong></p>
                <p>左邊隊伍象徵圖片檔名必須為: <b>left_team_picture</b></p>
                <p>右邊隊伍象徵圖片檔名必須為: <b>right_team_picture</b></p>
            </div>
            <div class="d-flex flex-column flex-md-row gap-5 w-100">
                <div class="d-flex flex-column align-items-start gap-3 flex-grow-1">
                    <div class="form-group">
                        <label class="label-text" class="form-label" for="left_team_picture">左邊隊伍象徵</label>
                        <div class="d-flex align-items-end gap-3">
                            <label class="upload-avatar-box" for="left_team_picture" data-name="left_team_picture" data-width="500" data-height="500">
                                <div class="view-img">
                                    <img src="/admin/uploads/system/tugofwar/classic/left_team_picture.png" alt="左邊隊伍象徵">
                                </div>
                                <div class="filter-bg"></div>
                                <div class="btn-upload-avatar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </div>
                                <input class="d-none" id="left_team_picture" type="file" name="left_team_picture" accept="image/jpeg,image/png,image/gif,image/svg+xml">
                                <input type="hidden" name="left_team_picture__default_flag" value="0">
                            </label>
                            <button class="btn btn-border-gray btn-sm" data-name="default-image" data-image="/admin/uploads/system/tugofwar/classic/left_team_picture.png">
                                <p>預設圖示</p>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-text" class="form-label" for="left_team_name">左邊隊伍名稱</label>
                        <input id="left_team_name" class="form-control" name="left_team_name" type="text" placeholder="例如: Lucky小隊" value="Lucky小隊" maxlength="7">
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start gap-3 flex-grow-1">
                    <div class="form-group">
                        <label class="label-text" class="form-label" for="right_team_picture">右邊隊伍象徵</label>
                        <div class="d-flex align-items-end gap-3">
                            <label class="upload-avatar-box" for="right_team_picture" data-name="right_team_picture" data-width="500" data-height="500">
                                <div class="view-img">
                                    <img src="/admin/uploads/system/tugofwar/classic/right_team_picture.png" alt="右邊隊伍象徵">
                                </div>
                                <div class="filter-bg"></div>
                                <div class="btn-upload-avatar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </div>
                                <input class="d-none" id="right_team_picture" type="file" name="right_team_picture" accept="image/jpeg,image/png,image/gif,image/svg+xml">
                                <input type="hidden" name="right_team_picture__default_flag" value="0">
                            </label>
                            <button class="btn btn-border-gray btn-sm" data-name="default-image" data-image="/admin/uploads/system/tugofwar/classic/right_team_picture.png">
                                <p>預設圖示</p>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-text" class="form-label" for="right_team_name">右邊隊伍名稱</label>
                        <input id="right_team_name" class="form-control" name="right_team_name" type="text" placeholder="例如: 我們一定贏!!" value="我們一定贏!!" maxlength="7">
                    </div>
                </div>
            </div>

        </div>
    </details>
    <div class="footer">
        <button id="save-game-data" class="btn btn-blue" data-name="saveGameData">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
            </svg>
            <p>儲存設置</p>
        </button>
        <a class="btn btn-gray" href="#tugofwar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <p>返回</p>
        </a>
    </div>
</div>

<var class="variable d-none">
    <var class="gameID">{{.GameID}}</var>
    <var class="userID">{{.User.UserID}}</var>
    <var class="token">{{.Token}}</var>
    <var class="method">{{.Route.Method}}</var>
    <var class="route-post">{{.Route.POST}}</var>
    <var class="route-put">{{.Route.PUT}}</var>
    <var class="max-people">{{.People}}</var>
</var>